body {
    background-color: #73c3c4;
}

.editor-input {
    background-color: #8bebeb;
}

.editor-heading {
    background-color: #42a9ab;
    border: 1px solid;
    border-bottom: 0;
    padding: 5px;
    width: 622px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.preview-heading {
    background-color: #42a9ab;
    border: 1px solid;
    border-bottom: 0;
    padding: 5px;
    margin: 10px 0 0 0;
    font-weight: bold;
}

.preview {
    background-color: #8bebeb;
    border: 1px solid;
    height: 300px;
}

.preview code {
    background-color: white;
}

.preview pre {
    background-color: white;
}